<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>

    
    
    
    
  



  <div style="margin:0;padding:0;min-width:100%;background-color:#fbfbfb">
    <center style="display:table;table-layout:fixed;width:100%;min-width:620px;background-color:#fbfbfb">
    	<table style="border-collapse:collapse;border-spacing:0;width:650px;min-width:650px"><tbody><tr><td style="padding:0;vertical-align:top;font-size:1px;line-height:1px"> </td></tr></tbody></table>
      <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto">
        <tbody><tr>
          <td style="padding:0;vertical-align:top">
            <table style="border-collapse:collapse;border-spacing:0;width:602px">
              <tbody><tr>
                
                <td style="padding:0;vertical-align:top;padding-top:10px;padding-bottom:12px;font-size:12px;line-height:21px;text-align:right;width:300px;color:#999;font-family:Georgia,serif">
                  No ves las Imágenes? <a style="text-decoration:none;color:#999;font-weight:bold" href="#" target="_blank">Hacé click aquí</a>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
      <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;width:602px">
        <tbody><tr><td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#e9e9e9;width:1px"> </td></tr>
        <tr><td style="padding:32px 0;vertical-align:top"><div style="font-size:26px;font-weight:700;letter-spacing:-0.02em;line-height:32px;color:#41637e;font-family:sans-serif" align="left"><img style="border:0;display:block;max-width:325px" src="http://granliga.com/static/img/logos/3.png" alt="" width="217" height="92"></div></td></tr>
      </tbody></table>
      
          <table style="border-collapse:collapse;border-spacing:0;font-size:1px;line-height:1px;background-color:#e9e9e9;Margin-left:auto;Margin-right:auto" width="602">
            <tbody><tr><td style="padding:0;vertical-align:top">​</td></tr>
          </tbody></table>
        
          <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto">
            <tbody><tr>
              <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#e9e9e9;width:1px">​</td>
              <td style="padding:0;vertical-align:top">
                <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;width:600px;background-color:#ffffff;font-size:14px">
                  <tbody><tr>
                    <td style="padding:0;vertical-align:top;text-align:left">
                      
              <div style="font-size:12px;Margin-bottom:24px;color:#565656;font-family:Georgia,serif" align="center">
                <img style="border:0;display:block;max-width:128px" src="http://i1.createsend1.com/ei/t/60/9F3/20E/004835/csfinal/1422560508_soccer_5.png" alt="" width="128" height="128">
              </div>
            
                        <table style="border-collapse:collapse;border-spacing:0;width:100%">
                          <tbody><tr>
                            <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:32px">
                              
            <h1 style="Margin-top:0;color:#565656;font-weight:700;font-size:36px;Margin-bottom:18px;font-family:sans-serif;line-height:42px">{{receiver.user.name}},</h1><p style="Margin-top:0;color:#565656;font-family:Georgia,serif;font-size:16px;line-height:25px;Margin-bottom:25px">{{sender.user.name}}, organizador del torneo &quot;<strong style="font-weight:bold">{{tournament.name}}</strong>&quot;<strong style="font-weight:bold">, </strong>te invita a arbitrar partidos en el torneo.</p><p style="Margin-top:0;color:#565656;font-family:Georgia,serif;font-size:16px;line-height:25px;Margin-bottom:25px">El próximo {{tournament.start_date_formal}} está iniciando el torneo <strong style="font-weight:bold">{{tournament.name}}</strong> {% if sportcenter %}en {{sportcenter.name}}, en {{sportcenter.full_address}}{% endif %}. </p><p style="Margin-top:0;color:#565656;font-family:Georgia,serif;font-size:16px;line-height:25px;Margin-bottom:25px">Se trata de un torneo del formato todos contra todos, que se disputará los días {{day_of_week}} mayormente (puede haber algún cambio de días, preavisados).</p><p style="Margin-top:0;color:#565656;font-family:Georgia,serif;font-size:16px;line-height:25px;Margin-bottom:25px">Si quieres arbitrar partidos en el torneo <strong style="font-weight:bold">&quot;{{tournament.name}}&quot;</strong> haz click en <a style="text-decoration:underline;color:#41637e" href="{{uri}}://{{domain}}/link/{{link_hash}}/accept" target="_blank">acepto arbitrar partidos en el torneo</a>.</p><p style="Margin-top:0;color:#565656;font-family:Georgia,serif;font-size:16px;line-height:25px;Margin-bottom:25px">Por otro lado, si no deseas o no puedes formar parte de <strong style="font-weight:bold">&quot;{{tournament.name}}&quot;</strong>, por favor haz click en <a style="text-decoration:underline;color:#41637e" href="{{uri}}://{{domain}}/link/{{link_hash}}/reject" target="_blank">NO acepto dirigir partidos en el torneo
</a>.</p><p style="Margin-top:0;color:#565656;font-family:Georgia,serif;font-size:16px;line-height:25px;Margin-bottom:25px">Pasadas 48hs de recibido este aviso la solicitud quedará sin efecto.</p><p style="Margin-top:0;color:#565656;font-family:Georgia,serif;font-size:16px;line-height:25px;Margin-bottom:25px"> </p>
          
                            </td>
                          </tr>
                        </tbody></table>
                      
                        <table style="border-collapse:collapse;border-spacing:0;width:100%">
                          <tbody><tr>
                            <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:32px">
                              
            <table style="border-collapse:collapse;border-spacing:0;width:100%"><tbody><tr><td style="padding:0;vertical-align:top;padding-bottom:24px" align="center">
              <table style="border-collapse:collapse;border-spacing:0;background-color:#e9e9e9;font-size:2px;line-height:2px;width:60px">
              <table style="border-collapse:collapse;border-spacing:0;width:100%">
                                        <tbody><tr>
                                          <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:32px">
                                            
                          <table style="border-collapse:collapse;border-spacing:0;width:100%"><tbody><tr><td align="center" style="padding:0;vertical-align:top;padding-bottom:0px">
                            <table style="border-collapse:collapse;border-spacing:0;background-color:#e9e9e9;font-size:2px;line-height:2px;width:60px">
                              <tbody><tr><td style="padding:0;vertical-align:top">&nbsp;</td></tr>
                            </tbody></table>
                          </td></tr></tbody></table>
                        
                                          </td>
                                        </tr>
                                      </tbody></table>
                <tbody><tr><td style="padding:0;vertical-align:top"> </td></tr>
              </tbody></table>
            </td></tr></tbody></table>
          
                            </td>
                          </tr>
                        </tbody></table>
                      
                        <table style="border-collapse:collapse;border-spacing:0;width:100%">
                          <tbody><tr>
                            <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:32px">
                              
            <p style="Margin-top:0;color:#565656;font-family:Georgia,serif;font-size:16px;line-height:25px;Margin-bottom:25px"><a href="http://granliga.com" target="_blank">granliga.com</a> (R) es un gestor integral de torneos de fútbol.<br>
Te invitamos a <a style="text-decoration:underline;color:#41637e" href="http://www.granliga.com" target="_blank">www.granliga.com</a>  para que conozcas más</p><p style="Margin-top:0;color:#565656;font-family:Georgia,serif;font-size:16px;line-height:25px;Margin-bottom:24px"> </p>
          
                            </td>
                          </tr>
                        </tbody></table>
                      
                      <div style="font-size:8px;line-height:8px"> </div>
                    </td>
                  </tr>
                </tbody></table>
              </td>
              <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#e9e9e9;width:1px">​</td>
            </tr>
          </tbody></table>
        
          <table style="border-collapse:collapse;border-spacing:0;font-size:1px;line-height:1px;background-color:#e9e9e9;Margin-left:auto;Margin-right:auto" width="602">
            <tbody><tr><td style="padding:0;vertical-align:top">​</td></tr>
          </tbody></table>

      </tbody></table>
    </center>
  <img style="border:0!important;height:1px!important;width:1px!important;margin:0!important;padding:0!important" src="http://createsend1.com/t/t-o-tyutijl-l/o.gif" width="1" height="1" border="0" alt="">

<div></div>




</div>
</body></html>